/* setting the properties for the outermost container, the whole of the 
game board. Setting the number of columns in the container and making display responsive through using vw vh */
*{
    font-family: 'Righteous', cursive;
}
.gameContainer{
    background-color:black;
    width: 60vw;
    min-width: 800px;
    height: 85vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid red;
    border-radius: 3%;
    

}

/* setting the display property of columns, giving border and rounding out shape of columns*/
.col{
    background-color: black;
    border: 2px solid red;
    border-radius: 100px;

}

/* setting row elements across 7 columns using grid property on container columns*/

.col{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

/* setting the display property of rows, giving border and rounding out shape of columns*/

.row{
    background: rgba(16, 17, 17, 0.856);
    border: 2px ridge rgb(25, 224, 231);
    border-radius: 55%; 
}
body{
    background: linear-gradient(to bottom, rgb(10, 150, 66), rgb(8, 156, 57));
    margin: 0 0 0 0;
    border-bottom-left-radius: 25px;
}
html{
    background: linear-gradient(to bottom, rgba(4, 27, 13, 0.781), rgba(7, 231, 82, 0.24));

}



/* display elements that display text and alerts */
header{
    text-align: center;
    background-color: black;
    border-radius: 25px;
    
}
.begginingTitle{
    margin:0 auto;
    padding-top: 20px;
    padding-bottom:20px;
}

.totalBoardWithInstructions{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(10, 150, 66);
    border: 2px solid rgb(25, 224, 231);
}
.instructions{
    display:grid;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: black;
    border-radius: 25px;
}
.actualInstructions{
    border: 2px solid rgb(255, 196, 0);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.resetter{
    text-align: center;
}
.scores{
    display:grid;
    width: 100%;
    height: 4vh;
    grid-template-rows: 1fr 1fr;
}


h4.a{
text-align: center;
color: rgb(25, 224, 231);
}

h4.b{
    text-align: center;
    color: rgb(255, 196, 0);
}

div.playerOneScoreBoard{
    border: 2px solid rgb(255, 196, 0);
    background-color: black;
    border-radius: 8px;
    color:white;
}
div.playerTwoScoreBoard {
    border: 2px solid rgb(25, 224, 231);
    background-color: black;
    border-radius: 8px;
    color: white;

}
button{
    height: 30px;
    width: 60px;
}

.modal{
    display:none;
    position:fixed;
    z-index: 1;
    width: 70%;
    overflow: auto;
    background-color: black;
}
.gameInstructions{
    color: rgb(25, 224, 231);
}
h1{
    color: Red;
}
h1 #titleSpan{
    color: rgb(25, 224, 231);
}
.gameInstructions{
    padding: 0 9px;
}
.history{
    background: black;
    border: 2px solid rgb(25, 224, 231);
    border-radius:25px;
    color: rgb(243, 24, 9);
    padding : 0 9px;
}